@import "../../assets/app.input.scss";
@import "../../assets/app.colors.scss";
@import "../../assets/app.buttons.scss";



.MuiAutocomplete-input{
    margin-left: -60px;
    position: relative;
    top: 23px;
    right: 68px;
    @include input();
}

.btn-search{
    position: relative;
    top: -8px;
    float: right;
    @include button($primary-color-one, $primary-color-two, $primary-color-three);
}


