@import "./app.colors.scss";

@mixin input() {
  outline: none;
  width: 100% !important;
  padding: 5px 10px;
  margin: 0 0;
  display: block;
  border-radius: 22px;
  &:focus {
    border: 1px solid $primary-color-one;
    border-radius: 22px;
  }
  &:hover {
    border: 1px solid $primary-color-one;
  }
}
