$primary-color-one: #ffffff;
$primary-color-two: #f1f2f6;
$primary-color-three: #00000033;
$primary-color-four: #00000034;
$primary-color-five: #f9fafd;
$primary-color-six: #3f4042;
$primary-color-seven: #54565a;
$primary-color-eight: #d0d0d3;
$primary-color-nine: #d0d0d3;
$primary-color-ten: #231f20;
$primary-color-eleven: #f5333f;
$primary-color-twelve: #4caf51;
$primary-color-thirteen: #cccccc;
$primary-color-fourteen: #666666;
$primary-color-fifteen: #f5f5f5;
$primary-color-sixteen: #d9d8d6;
$primary-color-seventeen: #b5ada5;
$primary-color-eighteen: #00000029;
$primary-color-nineteen: #f4f4f4;
